header{
  display: flex;
  justify-content: center;
}

nav h1{
  font-size: 300%;
  font-weight: 900;
  padding: 0%;
  
}

nav h3{
  font-size: 120%;
  font-weight: 600;
  margin-left: 10%;
  
}

header{
  margin-top: 2%;
}